.TasksGroupBar{
    position: absolute;
    width: 360px;
    height: 828px;
    left: 1080px;
    top: 72px;

    background: #0E0D1F;
}


.TasksGroupBar>.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.TasksGroupBar>.header>.left{
    width: 99px;
    height: 22px;
    left: 1112px;
    top: 93px;
    margin-left: 32px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}
.TasksGroupBar>.header>.right{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 32px;
}

.TasksGroupBar>.header>.right>.title{
    width: 78px;
    height: 16px;
    margin-left: 99px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #27EDE2;
}
.TasksGroupBar>.header>.right>.icon{
    margin-left: 8px;
    width: 12px;
    height: 12px;

    color: #27EDE2;
    border-radius: 100px;
}


.TasksGroupBar>.content{
    height: 751px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 32px;
}


.TasksGroupBar>.content::-webkit-scrollbar-track{
	border: 1px solid black;
	background-color: #F5F5F5;
}

.TasksGroupBar>.content::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

.TasksGroupBar>.content::-webkit-scrollbar-thumb{
	background-color: #2b264d;	
}